*.opensdf
*.tlog
*.idb
*.sdf
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches_reference_1.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches_reference_40.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_smooth.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_smooth_reference_40.ppm
ACG-Assignment1/src/build/

.DS_Store

.DS_Store
ACG-Assignment2/deploy/
ACG-Assignment2/deploy.zip
*.opendb
ACG-Assignment3/vs/ACG3/x64/
ACG-Assignment3/vs/ACG3/Release/
ACG-Assignment3/vs/ACG3/ACG3/image_2000_photons.ppm
ACG3/packages/
ACG-Assignment3/vs/ACG3/packages/
ACG-Assignment3/vs/ACG3/ACG3/x64/
ACG-Assignment3/vs/ACG3/.nuget/packages.config
ACG-Assignment3/bin/
ACG-Assignment1/vs/Radiosity/Radiosity/Release/
ACG-Assignment1/vs/Radiosity/Radiosity/x64/
ACG-Assignment2/bin/vs/Debug/
ACG-Assignment2/vs/PathTracer/PathTracer/Debug/
ACG-Assignment2/vs/PathTracer/PathTracer/Release/
ACG-Assignment3/src/build/
ACG-Assignment2/bin/vs/Release/
