*.opensdf
*.tlog
*.idb
*.sdf
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches_reference_1.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_patches_reference_40.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_smooth.ppm
ACG-Assignment1/vs/Radiosity/Radiosity/image_smooth_reference_40.ppm
ACG-Assignment1/src/build/

.DS_Store

.DS_Store
